# Directories to ignore
bin/
lib/
build/
srv_gen/
msg_gen/
software/atrias_controllers/*/src/*/
software/atrias_controllers/*/matlab/slprj/
software/atrias_msgs/src
software/atrias_msgs/include
boost/
typekit/

# Files to ignore
*.o
*.so
*.pc
*~
*.swp
.tb_history
orocos.log
gui_config.yaml
open_loop_sin_cos_6A
open_loop_sin_cos
open_loop_sin_deriv
