# Directories to ignore
bin/
lib/
build/
srv_gen/
msg_gen/
software/atrias_controllers/*/src/*/
software/atrias_controllers/*/include/*/
software/atrias_msgs/src
software/atrias_msgs/include

# Files to ignore
*.pc
*.swp
*.un~
.tb_history
orocos.log
gui_config.yaml
