<launch>
    <!-- Start data publishing node. -->

    <!-- Launch the Orocos script for atrias_ecat_master -->
    <node name    = "atrias_control_rosnode"
          pkg     = "ocl"
          type    = "deployer"
          args    = "-l info -s $(find atrias_sim_conn)/simConn.ops -s $(find atrias_controller_manager)/controller_manager.ops -s $(find atrias)/control_system.ops --"
          output  = "screen">
    </node>

    <node name    = "atrias_logger"
          pkg     = "atrias"
          type    = "log_data.py">
    </node>
</launch>
