<launch>
    <!-- Run the GUI on the local machine. -->
    <include file="$(find atrias)/launch/gui.launch" />

    <!-- Set up remote (robot) machine information. -->
    <machine name       = "i1000a-2"
             address    = "i1000a-2"
             user       = "root"
			 env-loader = "/home/drl/atrias_env.sh"
             default    = "true" />
    <env name="ROS_MASTER_URI" value="http://cov020-hp0:11311" />

    <node name   = "robot_launch_script"
	      pkg    = "atrias"
		  type   = "robot.sh"
		  output = "screen">
    </node>

    <!--<include file="$(find atrias)/launch/orocos_ecat.launch" />-->
</launch>

