<launch>
    <!-- Start the GUI. -->
    <node name   = "atrias_gui"
          pkg    = "gui"
          type   = "atrias_gui"
          output = "screen" />

    <!-- Start the ecat kernel interface. -->
    <node name    = "wireless_kern_interface"
          pkg     = "atrias_controllers"
          type    = "wireless_kern_interface"
          output  = "screen" />

    <!-- Start data logger node -->
    <node name   = "data_logger"
          pkg    = "atrias_controllers"
          type   = "data_logger"
          output = "screen" />

    <!-- Include data plotter node. -->
    <include file="$(find atrias)/launch/data_plotter.launch" />
</launch>
