<?xml version="1.0"?>

<!-- Header File for ATRIAS 2.0 Robot Model -->
<!-- Adapted for ATRIAS 2.0 in Winter Term 2012 by Andrew Peekema and Matthew Rueben -->

<robot name="atrias"
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
	xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
	xmlns:xacro="http://www.ros.org/wiki/xacro"
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
	xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
	xmlns:geo="http://willowgarage.com/xmlschema/#geo" 
	xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom" 
	xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body" >
    
	<!-- Constants -->
	<property name="M_PI" value="3.14159"/>
	<property name="angle" value="${M_PI/180*1}" />
    <!-- Note: "a" is the calculated value of angle because of xacro limitations -->
	<property name="a" value="0.01745" /> 
	<property name="cos_a" value="${1 - a*a/2 + a*a*a*a/4/3/2 - a*a*a*a*a*a/6/5/4/3/2}" />
	<property name="sin_a" value="${a - a*a*a/3/2 + a*a*a*a*a/5/4/3/2 - a*a*a*a*a*a*a/7/6/5/4/3/2}" />

	<!-- get robot model macro --> 
	<include filename="atrias20_leg.urdf.xacro" />
	<include filename="boom21.urdf.xacro" />

	<!-- constrains and builds the atrias leg model.  
		NOTE: initial_pitch_angle must be inside +-25 Deg -->
	<xacro:boom21 initial_pitch_angle="${angle}" child_link="leg_hip_link" child_offset="0.075"/>

	<xacro:atrias_leg hip_link="leg_hip_link" >
		<origin xyz="0 0 0.002" />	<!-- Center of rotation to center of mass   -->
		<axis>${cos_a} 0 ${sin_a}</axis>  <!-- Axis of rotation for 4-bar linkage -->
	</xacro:atrias_leg>

	<!-- initializes the all-in-one controller with the correct link names, etc. -->
	<gazebo>
		<controller:all_in_one_controller_wrapper name="all_in_one_controller_wrapper" plugin="liball_in_one_controller_wrapper.so">
			<alwaysOn> true </alwaysOn>
			<updateRate> 1000 </updateRate>
			<bodyName> leg_hip_link </bodyName>
			<motorAName> thighMotor_link </motorAName>
			<motorBName> shinMotor_link </motorBName>
			<legAName> thigh_link </legAName>
			<legBName> shin_link </legBName>
		</controller:all_in_one_controller_wrapper>
	</gazebo>

</robot>
