<?xml version="1.0"?>
<!-- Andrew Peekema -->
<!-- Testing gazebo -->

<launch>
	
	<arg name="use_sim_time" default="true"/>
	<!-- set use_sim_time flag -->
	<group if="$(arg use_sim_time)">
		<param name="/use_sim_time" value="true" />
	</group>

	<!-- Start the Gazebo simulation server -->
	<node name="simulation_server" pkg="gazebo" type="gazebo" args="$(find atrias_sim)/worlds/inverted_pendulum_with_foot.world" respawn="false" output="screen" />

	<!-- Start the Gazebo GUI -->
	<node name="simulation_gui" pkg="gazebo" type="gui" respawn="false" output="screen" />

</launch>
