<?xml version="1.0"?>
<robot name="atrias"
       xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:joint="http://playerstage.sourceforge.net/gazebo/xmlschema/#slider"
			 xmlns:xacro="http://www.ros.org/wiki/xacro"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
			 xmlns:model="http://playerstage.sourceforge.net/gazebo/xmlschema/#model"
			 xmlns:geo="http://willowgarage.com/xmlschema/#geo" 
			 xmlns:geom="http://playerstage.sourceforge.net/gazebo/xmlschema/#geom" 
			 xmlns:body="http://playerstage.sourceforge.net/gazebo/xmlschema/#body" >

	<include filename="simTest.urdf.xacro" />

  <xacro:atrias_robot></xacro:atrias_robot>

<!-- Controller was setup here -->

</robot>
