<!-- Originally by Devin Koepl -->
<!-- Adapted for ATRIAS 2.0 in Winter Term 2012 by Andrew Peekema and Matthew Rueben -->

<launch>

	<!-- launch Gazebo with world file "simple.world" -->
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find atrias)/worlds/simple.world" respawn="false" output="screen"/>

	<!-- uses xacro package to parse robot header file, which includes the robot model -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find atrias)/robots/atrias20_planar_header.urdf.xacro'" />

	<!-- push robot description to factory and spawn robot in Gazebo -->
	<node name="atrias_simulation" pkg="gazebo" type="spawn_model" args="-z 1.0 -urdf -param robot_description -model atrias" respawn="true" output="screen" />

	<!-- start the simulation gui for controlling the robot -->
	<node name="atrias_gui" pkg="atrias_gui" type="atrias_gui" output="screen" />  

</launch>
