<launch>
    <env name="ROS_HOSTNAME" value="192.168.1.100" />

    <!-- start the gui -->
    <node name="atrias_gui" pkg="gui" type="atrias_gui" output="screen" />

    <!-- Start data subscriber node -->
    <node name="data_subscriber" pkg="atrias_controllers" type="data_subscriber" output="screen" />
</launch>
