<launch>
    <!-- Start the GUI. -->
    <node name   = "atrias_gui"
          pkg    = "gui"
          type   = "atrias_gui"
          output = "screen" />

    <!-- Start data subscriber node -->
    <node name   = "data_subscriber"
          pkg    = "atrias_controllers"
          type   = "data_subscriber"
          output = "screen" />

    <!-- Include data plotter. -->
    <include file="$(find atrias)/launch/data_plotter.launch" />
</launch>

