<launch>
    <!-- Run desktop.launch on local machine. -->
    <include file="$(find atrias)/launch/desktop.launch" />

    <!-- Set up remote machine information. -->
    <machine name       = "zotac-1"
             address    = "zotac-1"
             user       = "root"
             env-loader = "/opt/ros/fuerte/env.sh"
             default    = "true" />

    <!-- Start the Utterly Confusing Latency-Arresting Kernel Utility on the remote machine. -->
    <node name    = "uclaku"
          pkg     = "atrias"
          type    = "realtime_nettop.sh" />
</launch>

