<launch>
    <env name="ROS_MASTER_URI" value="http://drl-sim:11311" />
    <!-- Set up nettop as remote machine. -->
<!--
    <machine name    = "drl-zotac"
             address = "192.168.1.109"
             user    = "drl"
             password="robot" />
-->

    <!-- Start the ecat kernel interface. -->
<!--
    <node machine = "drl-zotac"
-->
    <node name    = "wireless_kern_interface"
          pkg     = "atrias_controllers"
          type    = "wireless_kern_interface"
          output  = "screen">
        <!-- Nettop should connect to ROS master node running on desktop. -->
    </node>

    <!-- Start data publishing node. -->
<!--
    <node machine = "drl-zotac"
-->
    <node name    = "data_publisher"
          pkg     = "atrias_controllers"
          type    = "data_publisher"
          output  = "screen">
        <!-- Nettop should connect to ROS master node running on desktop. -->
    </node>
</launch>

