<!-- Devin Koepl -->

<launch>

  <node name="cleanup_gazebo" pkg="atrias_sim" type="clean_gazebo_tmp.sh" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="$(find atrias_sim)/worlds/simple.world" respawn="false" output="screen"/>

  <!-- send atrias.xml to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find atrias_sim)/robots/all_in_one.urdf.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="atrias_simulation" pkg="gazebo" type="spawn_model" args="-z 1. -urdf -param robot_description -model atrias" respawn="false" output="screen" />

  <!-- start the guis -->
  <node name="atrias_gui" pkg="atrias_gui" type="atrias_gui" output="screen" />
  <node name="simulation_gui" pkg="atrias_position_body_gui" type="position_body_gui" output="screen" />

</launch>
